/* Allgemein */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(168, 188, 199);
}

.header h1 {
    font-size: 26px;
    text-align: center;
}

.topnav li {
    display: inline;            /* Listenelemente nebeneinander */
    list-style-type: none;      /* Aufzählungszeichen entfernen */
}



.fusszeile{
    padding:20px;
    overflow: hidden;
    background-color: rgb(61, 56, 82);
    color: white;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
